<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoyucao.jokeguru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JokeGuru">
        <activity
            android:configChanges="screenSize|orientation"
            android:name=".JokeDetail"
            android:exported="false" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.guoyucao.jokeguru.JokeList" />
        </activity>

        <activity
            android:configChanges="screenSize|orientation"
            android:name=".JokeList"
            android:exported="false" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guoyucao.jokeguru.MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>